<div>


    </br>
    </br>


    <div class="tab">
        <button class="tablinks" ng-click="goToState('core.home')" >MY ACCOMMODATION</button>
        <button class="tablinks" ng-click="goToState('core.agentAccomodation')" >ADD ACCOMMODATION</button>
        <button class="tablinks" ng-click="goToState('core.agentReservations')" >MAKE RESERVATION</button>
        <button class="tablinks" ng-click="goToState('core.agentChat')" >CHAT</button>
        <button class="tablinks" ng-click="goToState('core.agentConfirmStay')" >CONFIRM STAY</button>
    </div>

 <div class="centar">

        <h3 class="olive">EDIT ACCOMMODATION : </h3>

        </br>

		<table class="tableHome">
			<tbody>
				<tr>
			    	<th width='15%'>
			    		Name	
			    	</th>
					<th width='10%'>
			    		Adress
			    	</th>
			    	<th width='10%'>
			    		City
			    	</th>
			    	<th width='10%'>
			    		Country
			    	</th>
			    	<th width='10%'>
			    		Category
			    	</th>
			    	<th width='8%'>
			    		Rating
			    	</th>
			    	<th width='35%'>
			    		Photo
			    	</th>
			    	<th width='5%'>
			    		
			    	</th>
				  </tr>
			      <tr>
			        <td>
				        <span>{{smestaj.naziv}}</span>
			        </td>
			        <td>
				        <span>{{smestaj.adresa}}</span>
			        </td>
			        <td>
				        <span>{{smestaj.grad}}</span>
			        </td>
			        <td>
				        <span>{{smestaj.drzava}}</span>
			        </td>  
			        <td>
				        <span>{{smestaj.kategorija.kategorija}}</span>
			        </td>
			        <td>
				        <span>{{smestaj.rejting}}</span>
			        </td>
			        
				    <td>
				        <div class='imgHome' ng-repeat='img in smestaj.slike'>
				       		<img ng-src="/api/files/{{img.uri}}.jpg" height="50" wight="60">
				        </div>			        	
			        </td>
			        </tr>
			</tbody>
		</table>
		
        </br>
        </br>
        <table>
        	<tr>
        		<td width='100%'>
        			<div>
        				<h3 class="olive">ADD ROOM: </h3>
		 
						 <br/>
						 
						 <table>
							<tr>
								<td>beds:</td>
								<td><input type="number" ng-model='soba.brojLezaja'/></td>
							</tr>
							<tr>
								<td>additional:</td>
								<td>
									<div ng-repeat="option in dodatne">				
				  					<input type="checkbox" value="option" ng-click="ec.addDodatne(option)" > {{option.opcija}}<br>
				  					</div>
								</td>
							</tr>
							<tr>
								<td>cathegory:</td>
								<td><form name="myForm" ng-model='soba.kategorija'>
									<label ng-repeat='k in caths'><input type="radio" ng-model="soba.kategorija" ng-value="k">{{k.kategorija}} &nbsp &nbsp</label>
								</td>
							</tr>	
							<tr>
								<td>price:</td>
								<td><input type="number" ng-model='soba.cena'/></td>
							</tr>	
							<tr>
								<td></td>
								<td><br/><button ng-click='ec.addRoom()' class='buttonP'>add room</button></td>
							</tr>	
							<tr ng-show='showMessage'>
								<td></td>
								<td>{{message}}</td>
							</tr>
							
						</table>
        			</div>
        		</td>
        		<td width='50%'>
        			    		
        		</td>
        	</tr>
        </table>
 		<div ng-show='allRooms' width='100%'>
	        <h3 class="olive">ALL ROOMS: </h3>
			 
			 <br/>
			 
			 <table width='100%'><tbody>
				<tr width='100%'>
					<th width='10%'>beds</th>
					<th width='20%'>additional</th>
					<th width='20%'>cathegory</th>
					<th width='20%'>price</th>
					<th width='30%'></th>
				</tr>
				<tr ng-repeat='s0 in sveSobe'>
					<td><span>{{s0.brojLezaja}}</span></td>
					<td><span ng-repeat='o in s0.opcija'>{{o.opcija}}<br/></span></td>
					<td><span>{{s0.kategorija.kategorija}}</span></td>
					<td><span>{{s0.cena}}</span></td>
					<td><button ng-click='ec.edit(s0)'>rent it</button></td>
				</tr>					
			</tbody></table>
   	</div>  
     	<div ng-hide='allRooms'>
	        <h3 class="olive">RENT A ROOM: </h3>
			 
			 <br/>
			 
			 <table>
			 	<tr>
			 		<td width='10%'></td>
			 		<td width='20%'>from:</td>
			 		<td width='30%'><input type="date" ng-model='rent.datumOd' ng-change='ec.setMinDo()' min="{{today}}"/></td>
			 		<td width='10%'></td>
			 	</tr>
			 	<tr>
			 		<td></td>
			 		<td>to:</td>
			 		<td><input type="date" ng-model='rent.datumDo' min="{{minDo}}"/></td>
			 		<td></td>
			 	</tr>
			 	<tr>
			 		<td></td>
			 		<td>price:</td>
			 		<td><input type="number" ng-model='rent.cena'/></td>
			 		<td></td>
			 	</tr>
			 	<tr>
			 		<td></td>
			 		<td>can be partaly rented:</td>
			 		<td><input type="checkbox" ng-true-value='true' ng-false-value='false' ng-model='rent.mozePojedinacno'/></td>
			 		<td></td>
			 	</tr>
			 	<tr>
			 		<td></td>
			 		<td></td>
			 		<td><button class='buttonP' ng-click='ec.addRent()'>make official</button></td>
			 		<td>{{messageRent}}</td>
			 	</tr>	
			 	<tr>
			 		<td></td>
			 		<td></td>
			 		<td><button class='buttonP' ng-click='ec.goBack()'>go back</button></td>
			 		<td></td>
			 	</tr>			
			</table>
			<table>
			 	<tr width='100%'>
			 		<th width='10%'></th>
			 		<th width='20%'>from [dd\MM\yyyy]&nbsp&nbsp</th>
			 		<th width='20%'>to [dd\MM\yyyy]&nbsp&nbsp</th>
			 		<th width='20%'>price</th>
			 		<th width='30%'></th>
			 	</tr><br/><hr/>
			 	<tr ng-repeat='i in zaRent.iznajmljivanja'>
			 		<td></td>
			 		<td>{{i.datumOd}} &nbsp &nbsp</td>
			 		<td>{{i.datumDo}} &nbsp &nbsp</td>
			 		<td>{{i.cena}} &nbsp &nbsp</td>
			 	</tr>
			 				
			</table>
     </div> 

        </br><br/>
		
		
        
        </br>


        </br>

    </div>





</div>