<div>


    </br>
    </br>


    <div class="tab">
        <button class="tablinks" ng-click="goToState('core.home')" >MY ACCOMMODATION</button>
        <button class="tablinks" ng-click="goToState('core.agentAccomodation')" >ADD ACCOMMODATION</button>
        <button class="tablinks" ng-click="goToState('core.agentReservations')" >MAKE RESERVATION</button>
        <button class="tablinks" ng-click="goToState('core.agentChat')" >CHAT</button>
        <button class="tablinks" ng-click="goToState('core.agentConfirmStay')" >CONFIRM STAY</button>
    </div>

 <div class="centar">

        <h3 class="olive">EDIT ACCOMMODATION : </h3>

        </br>

		<table class="tableHome">
			<tbody>
				<tr>
			    	<th width='15%'>
			    		Name	
			    	</th>
					<th width='10%'>
			    		Adress
			    	</th>
			    	<th width='10%'>
			    		City
			    	</th>
			    	<th width='10%'>
			    		Country
			    	</th>
			    	<th width='10%'>
			    		Category
			    	</th>
			    	<th width='8%'>
			    		Rating
			    	</th>
			    	<th width='35%'>
			    		Photo
			    	</th>
			    	<th width='5%'>
			    		
			    	</th>
				  </tr>
			      <tr>
			        <td>
				        <span>{{smestaj.naziv}}</span>
			        </td>
			        <td>
				        <span>{{smestaj.adresa}}</span>
			        </td>
			        <td>
				        <span>{{smestaj.grad}}</span>
			        </td>
			        <td>
				        <span>{{smestaj.drzava}}</span>
			        </td>  
			        <td>
				        <span>{{smestaj.kategorija.kategorija}}</span>
			        </td>
			        <td>
				        <span>{{smestaj.rejting}}</span>
			        </td>
			        
				    <td>
				        <div class='imgHome' ng-repeat='img in smestaj.slike'>
				       		<img ng-src="/api/files/{{img.uri}}.jpg" height="50" wight="60">
				        </div>			        	
			        </td>
			</tbody>
		</table>
		
		 <h3 class="olive">ADD ROOM: </h3>
		 
		 <br/>
		 
		 <table>
			<tr>
				<td>beds:</td>
				<td><input type="number" ng-model='soba.brojLezaja'/></td>
			</tr>
			<tr>
				<td>additional:</td>
				<td>
					<div ng-repeat="option in dodatne">				
  					<input type="checkbox" value="option.opcija" ng-click="aac.addDodatne(option)"> {{option.opcija}}<br>
  					</div>
				</td>
			</tr>
			<tr>
				<td>cathegory:</td>
				<td><form name="myForm" ng-model='smestaj.kategorija'>
					<label ng-repeat='k in caths'><input type="radio" ng-model="soba.kategorija" ng-value="k">{{k.kategorija}} &nbsp &nbsp</label>
				</td>
			</tr>	
			<tr>
				<td>price:</td>
				<td><input type="number" ng-model='soba.cena'/></td>
			</tr>	
			<tr>
				<td></td>
				<td><br/><button ng-click='ec.addRoom()' class='buttonP'>add room</button></td>
			</tr>	
			<tr ng-show='shoeMessage'>
				<td></td>
				<td>{{message}}</td>
			</tr>
			
		</table>

        </br><br/>
		
		
		prikaz svih soba i mogucnost dodavanja termina u svaku
        
        </br>


        </br>

    </div>





</div>