<style>
ul {
  list-style-type: none;
}
</style>
<div>
  <div class="tab">
        <button class="tablinks" ng-click="goToState('core.home')" >MY ACCOMMODATION</button>
        <button class="tablinks" ng-click="goToState('core.agentAccomodation')" >ADD ACCOMMODATION</button>
        <button class="tablinks" ng-click="goToState('core.agentReservations')" >MAKE RESERVATION</button>
        <button class="tablinks" ng-click="goToState('core.agentChat')" >CHAT</button>
        <button class="tablinks" ng-click="goToState('core.agentConfirmStay')" >CONFIRM STAY</button>
    </div>

<div class="centar">
<table>
	<tr>
	<td>
	<ul>
		
		<li ng-repeat="rez in all track by rez.id">
		<p> Accommodation: {{rez.smestaj.naziv}}</p>
		<p> Room ID: {{rez.soba.id}}</p>
		<p> Guest: {{rez.rezervisao.firstName}}  {{rez.rezervisao.lastName}} </p>
		<p> From:  {{rez.datumOd | date:'yyyy-MM-dd'}} To: {{rez.datumDo | date:'yyyy-MM-dd'}}</p>
		<p> Room Price: {{rez.soba.cena}}</p>
		
		<br>
		<span><button ng-click="approve(rez.id)">Approve</button>         <button ng-click="decline(rez.id)">Decline</button></span>
		</li>
		<br>
		
		
	</ul>
	
	</td></tr>
</table>
	

</div>


</div>