<div>


    </br>
    </br>


    <div class="tab">
        <button class="tablinks" ng-click="goToState('core.home')" >MY ACCOMMODATION</button>
        <button class="tablinks" ng-click="goToState('core.agentAccomodation')" >ADD ACCOMMODATION</button>
        <button class="tablinks" ng-click="goToState('core.agentReservations')" >MAKE RESERVATION</button>
        <button class="tablinks" ng-click="goToState('core.agentChat')" >CHAT</button>
        <button class="tablinks" ng-click="goToState('core.agentConfirmStay')" >CONFIRM STAY</button>
    </div>

 <div class="centar">

        <h3 class="olive">ADD ACCOMMODATION : </h3>

        </br>

		<table>
			<tr>
				<td width='10%'></td>
				<td width='20%'>Name:</td>
				<td width='40%'><input type='text' ng-model='smestaj.naziv' size='40'/></td>
				<td width='30%'></td>
			</tr>
			<tr>
				<td></td>
				<td>Address:</td>
				<td><input type='text' ng-model='smestaj.adresa' size='60'/></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>City:</td>
				<td><input type='text' ng-model='smestaj.grad'/></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>State:</td>
				<td><input type='text' ng-model='smestaj.drzava'/></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>GoogleMap URL:</td>
				<td><input type='text' ng-model='smestaj.gmapUrl' size='60'/></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>Stars:</td>
				<td><form name="myForm">
					  <label><input type="radio" ng-model="smestaj.zvezdice" value="5">5</label>
					  <label><input type="radio" ng-model="smestaj.zvezdice" value="4">4</label>
					  <label><input type="radio" ng-model="smestaj.zvezdice" value="3">3</label>
					  <label><input type="radio" ng-model="smestaj.zvezdice" value="2">2</label>
					  <label><input type="radio" ng-model="smestaj.zvezdice" value="1">1</label>
				</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>Type:</td>
				<td><select ng-options="type as type.tip for type in types track by type" ng-model="smestaj.tip"></select></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>Images:</td>
				<td><input type="file" id="image" demo-file-model="uplImage" accept=".jpg, .png"/></td>
				<td><input type="button" value='Upload image' ng-click='aac.uploadImage()'></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>uploaded:</td>
				<td>{{images}}</td>
			</tr>		
			<tr >
				<td></td>
				<td>Additional:</td>
				<td >	
				 	<div ng-repeat="option in dodatne">				
  					<input type="checkbox" value="option.opcija" ng-click="aac.addDodatne(option)"> {{option.opcija}}<br>
  					</div>			
				</td>
				<td></td>
			</tr><tr>
				<td></td>
				<td></td>
				<td><br/><br/><br/><button class='buttonP' ng-click="aac.addSmestaj()" >Add Accommodation</button></td>
				<td></td>
			</tr>
		</table>
        
        </br>


        </br>

    </div>





</div>