<div class='site'>
	<table>
		<tr>
			<td class='heading'>PigInc. BOOKING </td>
			<td class='buttonsTD'><button class='buttonP'>Manage My Property</button></td>
			<td class='buttonsTD'><button class='buttonR'>Register</button></td>
			<td class='buttonsTD'><button class='buttonS'>Sign In</button></td>
		</tr>	
	</table>
	<hr/>
	<label>Find your perfect place to stay...</label><br>
	<hr/>
	<table>
		<tr>
			<td class='whereTD'><input type='text' placeholder="where are you traveling to?" class='where'> </td>
			<td class='dateTD'><input type='date' class='date'></td>
			<td class='dateTD'><input type='date' class='date'></td>
			<td class='peopleTD'><input type="number" class='people' placeholder="how many people?"></td>
			<td class='buttonsTD'><button class='buttonP'>find it...</button></td>
		</tr>	
	</table>
	<table>
		<div>
			<ui-view>
			
			</ui-view>
		</div>
	</table>

</div>