<div width='100%'>
	<table width='100%'>
		<tr>
			<td class='heading'>PigInc. BOOKING </td>
			<td class='buttonsTDP'>
				<button class='buttonP'>Manage My Property</button> 
				<button class='buttonR' id="registerBtn">Register</button> 
				<button class='buttonS' ng-click="login()" id="loginBtn">Log In</button> 
				<button class='buttonR' ng-click="logout()" id="logoutBtn">Log Out</button> 
			</td>
		</tr>	
	</table>
	<hr/>
	<label>Find your perfect place to stay...</label><br>
	<hr/>
	<table>
		<tr>
			<td class='whereTD'><input type='text' size='50' placeholder=" where are you traveling to?" class='where'> </td>
			<td class='dateTD'><input type='date' class='date'></td>
			<td class='dateTD'><input type='date' class='date'></td>
			<td class='peopleTD'><input type="number" class='people' placeholder="how many people?"></td>
			<td class='buttonsTD'><button class='buttonP'>find it...</button></td>
		</tr>	
	</table>
	<table>
		<div>
			<ui-view>
			
			</ui-view>
		</div>
	</table>

</div>