<div width='100%'>
	<table width='100%'>
		<tr>
			<td class='heading'>PigInc. BOOKING </td>
			<td class='buttonsTDP'>
				<button class='buttonP'>Manage My Property</button> 
				<button class='buttonR' id="registerBtn" ng-click="register()">Register</button> 
				<button class='buttonS' ng-click="login()" id="loginBtn">Log In</button>
				<button class='buttonR' ng-show="profileShow" ng-click="profile()" id="profileBtn">Profile</button>
				<button class='buttonR' ng-click="logout()" id="logoutBtn">Log Out</button> 
			</td>
			
			
			
			
		</tr>	
	</table>
	<hr/>
	<label>Hello{{username}}! Find your perfect place to stay...</label><br>
	<hr/>
	<table>
		<tr>
			<td class='whereTD'><input type='text' size='50' placeholder=" Where are you traveling to?" class='where'> </td>
			<td class='dateTD'><input type='date' class='date' placeholder="From"></td>
			<td class='dateTD'><input type='date' class='date' placeholder="To"></td>
			<td class='peopleTD'><input type="number" class='people' placeholder="How many people?"></td>
			<td class='buttonsTD'><button class='buttonP'>Search</button></td>
			<td class='buttonsTD'><button class='buttonP' ng-click="toggleAdvancedSearch()">{{advSearch()}}</button></td>
		</tr>	
		
		<tr ng-show="showAdvancedSearch==true">
			<td>
				Chose accomodation type:
			</td>
		</tr>
		<tr ng-show="showAdvancedSearch==true">
			<td>
			<div class="dropdown">
			  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			  </button>
			  <div class="dropdown-menu">
			    <a class="dropdown-item" ng-click="" ng-repeat="type in loadedTypes">{{type.tip}}</a>
			  </div>
			</div>
			</td>
		</tr>
		<tr ng-show="showAdvancedSearch==true">
			<td>
				Chose accomodation category:
			</td>
		</tr>
		
		<tr ng-show="showAdvancedSearch==true">
			<td>
			<div class="dropdown">
			  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			  </button>
			  <div class="dropdown-menu">
			    <a class="dropdown-item" ng-click="" ng-repeat="cat in loadedCategories">{{cat.kategorija}}</a>
			  </div>
			</div>
			</td>
		</tr>
		
		<tr ng-show="showAdvancedSearch==true">
			<td>
				Chose additional services:
			</td>
		</tr>
		<tr ng-show="showAdvancedSearch==true">
			<td>
			<div class="dropdown">
			  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			  </button>
			  <div class="dropdown-menu">
			    <a class="dropdown-item" ng-click="" ng-repeat="services in loadedServices">{{services.opcija}}</a>
			  </div>
			</div>
			</td>
		</tr>
		
		
		
	</table>
	<table>
		<div>
			<ui-view>
			
			</ui-view>
		</div>
	</table>

</div>