<div>


    </br>
    </br>

    <div class="tab">
        <button class="tablinks" ng-click="goToState('core.inbox')" >INBOX</button>
        <button class="tablinks" ng-click="goToState('core.reservations')" >RESERVATIONS</button>
        <button class="tablinks" ng-click="goToState('core.editProfile')" >EDIT PROFILE</button>
        <button class="tablinks" ng-click="goToState('core.profile')" >PROFILE</button>
    </div>

    <table class="centar">

        <tr>
            <td colspan="2" > <h2 class="olive">EDIT PROFILE</h2>  </td>
        </tr>

        <tr>
            <td colspan="2"> &nbsp; </td>
        </tr>

        <tr>
            <td>
                <a class="olive">USERNAME : </a>
            </td>
            <td>
                <input class="input" type="text" ng-model="user.username"  >
            </td>
        </tr>

        <tr>
            <td>
                <a class="olive">FIRST NAME : </a>
            </td>
            <td>
                <input class="input" type="text" ng-model="user.firstName"  >
            </td>
        </tr>


        <tr>
            <td>
                <a class="olive">LAST NAME : </a>
            </td>
            <td>
                <input class="input" type="text" ng-model="user.lastName"  >
            </td>
        </tr>

        <tr>
            <td>
                <a class="olive">EMAIL : </a>
            </td>
            <td>
                <input class="input" type="text" ng-model="user.email" disabled  >
            </td>
        </tr>

        <tr>
            <td>
                <a class="olive">PASSWORD : </a>
            </td>
            <td>
                <input class="input" type="password" ng-model="password"  >
            </td>
        </tr>

        <tr>
            <td>
                <a class="olive">REPEAT PASSWORD : </a>
            </td>
            <td>
                <input class="input" type="password" ng-model="rPassword"  >
            </td>
        </tr>

        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>

        <tr>
            <td  colspan="2">
                <button  class="button" type="submit" ng-click="saveEdit(user.username, user.firstName, user.lastName, user.email, password, rPassword)">Save edit </button>
            </td>

        </tr>

        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>

    </table>

</div>