<div>


    </br>
    </br>


    <div class="tab">
        <button class="tablinks" ng-click="goToState('core.inbox')" >INBOX</button>
        <button class="tablinks" ng-click="goToState('core.reservations')" >RESERVATIONS</button>
        <button class="tablinks" ng-click="goToState('core.editProfile')" >EDIT PROFILE</button>
        <button class="tablinks" ng-click="goToState('core.profile')" >PROFILE</button>
    </div>


    <div class="centar">
        <h2 class="olive">RESERVATIONS : </h2>


        <ul class="goreDoleListCentarRezervacije" >

            <li class="marginaDole" ng-repeat="reservation in rezervacije track by $index" >

                <br/>

                <a ng-click="goToPlace(reservation.smestaj.id)"> <span class="olive" > Place :  </span>{{reservation.smestaj.naziv}}  </a>

                <button ng-if="prosaoDatum(reservation.datumOd, reservation.status)"  type="submit" class="delete" class="btn btn-primary" style="float: right !important;"  ng-confirm-click="Are you sure to cancel your reservation ?" confirmed-click="cancelReservation(reservation.id)" >
                    <img class="clearDelete" src="../../../assets/images/trash.png" width="20" height="20" title="Delete" alt="Delete" />
                </button>

                <button   type="submit" class="delete" class="btn btn-primary" style="float: right !important;"  ng-click="sendMessage(reservation.smestaj.vlasnik.id)" >
                    <img class="clearDelete" src="../../../assets/images/message.png" width="20" height="20" title="Message" alt="Message" />
                </button>

                <br/>
                <a> <span class="oliveJosMalo" > From : </span>  {{reservation.datumOdLepi}}</a>
                <br/>
                <a>  <span class="oliveJosDva" >To : </span> {{reservation.datumDoLepi}}</a>
                <br/>
                <a> <span class="oliveManjeJedan" > STATUS : </span> {{reservation.status}} </a>
                <br/>
                <br/>
                <div ng-if="reservation.ocenio">
                    <a> <span class="oliveJosMalo" > STARS : </span> {{reservation.ocena}} </a>
                    <br/>
                </div>
                <div ng-if="!reservation.ocenio">

                    <a class="olive">  Rating : </a>
                    <jk-rating-stars  rating="ocena" ></jk-rating-stars>
                    <br/>

                    <a class="olive">  Comment : </a>
                    <br/>
                    <textarea  rows="4" cols="80" ng-model="komentar"></textarea>
                    <br/>
                    <button  type="submit"  ng-click="review(komentar, reservation.id, ocena, reservation.smestaj.id)">Leave review </button>
                    <br/>

                </div>

            </li>

        </ul>
        </br>


        </br>

    </div>



</div>