<div>


    </br>
    </br>


    <ul class="goreDoleList">
        <li class="pomeri">
            <a ng-click="goToState('core.inbox')"> INBOX </a>
        </li>
        <li class="gornjaIvica">
            <a ng-click="goToState('core.reservations')"> RESERVATIONS </a>
        </li>
        <li class="gornjaIvica">
            <a ng-click="goToState('core.editProfile')"> EDIT PROFILE </a>
        </li>
        <li class="gornjaIvica">
            <a ng-click="goToState('core.profile')"> PROFILE </a>
        </li>
    </ul>


    <h3 class="centar">CHAT : </h3>



    <ul class="goreDoleListCentar" >


       <li ng-repeat="korisnik in korisnici track by $index" class="gornjaIvica">
           <a ng-click="selectChat(korisnik.id)">{{korisnik.username}}</a>
       </li>
    </ul>



</div>