<div>


    </br>
    </br>


    <div class="tab">
        <button class="tablinks" ng-click="goToState('core.inbox')" >INBOX</button>
        <button class="tablinks" ng-click="goToState('core.reservations')" >RESERVATIONS</button>
        <button class="tablinks" ng-click="goToState('core.editProfile')" >EDIT PROFILE</button>
        <button class="tablinks" ng-click="goToState('core.profile')" >PROFILE</button>
    </div>

<div class="centar">


    <h2 class="olive">CHAT : </h2>

    </br>


    <ul class="goreDoleListCentar" >


       <li ng-repeat="korisnik in korisnici track by $index" class="gornjaIvica" ng-click="selectChat(korisnik.id)">
           <a >{{korisnik.username}}</a>
       </li>
    </ul>

</div>

</div>