<div>


    </br>
    </br>

    <div class="tab">
        <button class="tablinks" ng-click="goToState('core.inbox')" >INBOX</button>
        <button class="tablinks" ng-click="goToState('core.reservations')" >RESERVATIONS</button>
        <button class="tablinks" ng-click="goToState('core.editProfile')" >EDIT PROFILE</button>
        <button class="tablinks" ng-click="goToState('core.profile')" >PROFILE</button>
    </div>

    <table class="centar">

        <tr>
            <td colspan="2" > <h2 class="olive">PROFILE</h2>  </td>
        </tr>

        <tr>
            <td colspan="2"> &nbsp; </td>
        </tr>

        <tr>
            <td>
                <a class="olive">USERNAME : </a>
            </td>
            <td>
                <a>{{user.username}} </a>
            </td>
        </tr>

        <tr>
            <td colspan="2"> &nbsp; </td>
        </tr>


        <tr>
            <td>
                <a class="olive">FIRST NAME : </a>
            </td>
            <td>
                <a>{{user.firstName}} </a>
            </td>
        </tr>

        <tr>
            <td colspan="2"> &nbsp; </td>
        </tr>

        <tr>
            <td>
                <a class="olive">LAST NAME : </a>
            </td>
            <td>
                <a>{{user.lastName}} </a>
            </td>
        </tr>

        <tr>
            <td colspan="2"> &nbsp; </td>
        </tr>


        <tr>
            <td>
                <a class="olive">EMAIL : </a>
            </td>
            <td>
                <a>{{user.email}} </a>
            </td>
        </tr>

        <tr>
            <td colspan="2"> &nbsp; </td>
        </tr>


    </table>

</div>